<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<!--<a href="?lang=en">English </a> | <a href="?lang=de">German </a> | <a href="?lang=ru">Русский </a>-->
<h2 th:text="${exceptionMsg}"></h2>
</body>
</html>
