<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer">
    &copy; 2013 Footer
</div>
<div th:fragment="footer-admin">
    &copy; 2013 Admin Footer
</div>
</body>
</html>