<!-- DOCTYPE -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
	<title>Интернет магазин AlexMag</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	<link rel="icon" type="image/x-icon" th:href="@{/image/favicon.jpg}">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/tether.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/util.js}"></script>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-fixed-top navbar-dark bg-inverse nav-padding">
	<div class="row">
		<div class="col-xs-1">
			<a class="navbar-brand" th:href="@{/index}">AlexMag</a>
		</div>

		<div class="col-xs-2">
			<ul class="nav navbar-nav pull-xs-left">
				<li class="nav-item">
					<a class="nav-link" href="#">Главная</a>
				</li>

				<li class="nav-item">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="category" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">Категории</a>
						<div class="dropdown-menu" aria-labelledby="category">
							<a class="dropdown-item" href="#">Телефоны</a>
							<a class="dropdown-item" href="#">Планшеты</a>
							<a class="dropdown-item" href="#">Ноутбуки</a>
						</div>
					</div>
				</li>


				<li class="nav-item">
					<a class="nav-link" href="#">Новинки</a>
				</li>
			</ul>
		</div>

		<div class="col-xs-1"></div>

		<div class="col-xs-2">
			<form class="form-inline .pull-xs-none" role="search">
				<input type="text" class="form-control">
				<button type="submit" class="btn btn-secondary">Поиск</button>
			</form>
		</div>

		<div class="col-xs-2"></div>

		<div class="col-xs-1">
			<div sec:authorize="!isAuthenticated()">
				<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#loginWindow">
					Войти/Регистраци
				</button>
			</div>

			<div sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" method="POST">
					<button type="submit" class="btn btn-primary btn-xs">
						Выйти
					</button>
				</form>
			</div>

		</div>

		<div class="col-xs-1"></div>

		<div class="col-xs-2  pull-xs-right">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Корзина</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/setting}">Настройки аккаунта</a>
				</li>
			</ul>
		</div>

	</div>

</nav>

<div th:fragment="login" class="modal fade" id="loginWindow" tabindex="-1" role="dialog"
     aria-labelledby="modalLabelSmall"
     aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title center" id="modalLabelSmall">Введите данные</h4>
			</div>

			<div class="modal-body">
				<form th:action="@{/login}" method="post">
					<fieldset class="form-group">
						<label for="login">Логин</label>
						<input type="text" class="form-control" id="login" name="login">
					</fieldset>
					<fieldset class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password">
					</fieldset>
					<button type="submit" class="btn btn-default">Войти</button>
					<button type="button" href="#" class="btn btn-default">Зарегистрироваться</button>
				</form>
				<!--<span class="alert alert-danger" th:text="${error}"></span>-->
			</div>

		</div>
	</div>
</div>


</body>
</html>